:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-header {
  padding: 8px 16px;
  gap: 8px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background: rgb(249, 240, 240);
  background: linear-gradient(
    90deg,
    rgba(249, 240, 240) 0%,
    rgb(249, 240, 240) 39%,
    rgba(88, 35, 117, 1) 100%
  );
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

img {
  width: 80;
}

.page {
  color: #ffffff;
}

.docsFooter {
  margin-top: auto;
  display: block;
  padding: 12px;
  font-size: 12px;
  background: rgb(249, 240, 240);
  background: linear-gradient(
    90deg,
    rgb(249, 240, 240) 0%,
    rgb(249, 240, 240) 39%,
    rgba(88, 35, 117, 1) 100%
  );
}
