.site-header {
  padding: 8px 16px;
  gap: 8px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background: url(../assets/header-background.jpeg) no-repeat top left;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
