<html>
  <body>
    <div class="site-header">
      <div class="info">
        <img src="../../assets/Dr.-G-Logo.png" alt="Logo Ordinacije">
        <p>Informacije o lekarskoj ordinaciji.</p>
      </div>
      <button mat-button routerLink="/login">Login</button>
    </div>
    <div class="infoAbout">
      <div class="">
        <h1 class="">Dermatološka ordinacija Dr Goran</h1>
        <p>Dermatološka ordinacija je prvi privatni centar za kožne bolesti i kozmetologiju u Srbiji.</p>
        <p>Ordinaciju Dr Goran je osnovala 2003. godine dr Goran Lakić, specijalista dermatovenerologije,
          nakon osmogodišnjeg stručnog iskustva stečenog radom na Vojnomedicinskoj akademiji – VMA, KBC Zvezdara i
          više privatnih ustanova.</p>
        </div>
    </div>

    <div>
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" mat-button>Login</button>
        </div>

        </form>
        </mat-card-content>
      </mat-card>
    </div>
  </body>
</html>
