@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.css";
@import "ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.css";


* {
  box-sizing: border-box;
}

/* Disable default margin */
html,
body {
  font-family: FontPoppins;
  margin: 0;
  background-color: #f3e0d4;
  color: #383832;
}
.page {
  margin-left: auto;
}

.title {
  margin-right: auto;
  margin-left: 3%;
}

@font-face {
  font-family: "FontPoppins";
  src: url("src/assets/Poppins/Poppins-Medium.ttf");
}

.docsFooter{
  margin-top: 15px;
  display: block;
  padding: 12px;
  font-size: 12px;
  background: rgb(243,224,212);
  background: linear-gradient(90deg, rgba(243,224,212,1) 0%, rgba(243,224,212,1) 39%, rgba(88,35,117,1) 100%);
}
