/* HEADER */
.headLogPass {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.itemsInsideDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.example-headers-align {
  margin-left: 8px;
}

.align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.key {
  margin-left: 7px;
  margin-right: 0;
}

.password-change {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.passwordChanged {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: rgb(54, 165, 32);
}

/* DOCTORS */
:host {
  flex-direction: column;
  align-items: center;
}

mat-card {
  box-shadow: 0px 0px 10px 0px #9b9b9b, 0 1px 1px 0 #000000, 0 1px 3px 0 #9b9b9b;
}

/* lekari */

.doctors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.doctor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: -3px 1px 3px 1px rgba(172, 140, 167, 0.75);
  -moz-box-shadow: -3px 1px 5px 1px rgba(172, 140, 167, 0.75);
  box-shadow: -3px 1px 5px 1px rgba(172, 140, 167, 0.75);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}

.doctor-card:hover {
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.2); /* Povećajte veličinu kartice prilikom hover-a */
  background-color: rgba(90, 56, 103, 0.084); /* Promena boje pozadine */
}

.doctor-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.doctor-info {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.doctor-name {
  font-size: 28px;
  font-weight: bold;
}

.doctor-specialization {
  font-size: 16px;
  text-align: center;
}

.demo-table {
  width: 100%;
}

.title-section {
  text-align: center;
}

.editFields mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.profile-details {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 400px;
}

.buttons_book_back {
  margin: auto 20px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.appointments {
  width: 550px;
}

.doctors-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;

}

.doctor-preview-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.doctor-list-card {
  text-align: center;
}

.manage-user-form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

/* .saveCancel{
  margin: auto;
} */

#table-appointments{
  margin: 20px auto
}


/* NEW DOCTOR */


.inline-block {
  display: inline-block;
  width: 400px;
}

mat-card {
  box-shadow: 0px 0px 10px 0px #9b9b9b,
      0 1px 1px 0 #000000,
      0 1px 3px 0 #9b9b9b;

}


.log-reg {
  display: flex;
  justify-content: center;
  max-width: 450;
  margin: 0 auto;
  padding: 12px;
}


.mat-form-field {
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.main-description {
  color: rgba(88, 35, 117, 1);
}
.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: rgb(255 61 61 / 71%);
}

.registerSuccess {
  padding: 16px;
  color: white;
  background-color: rgb(128, 199, 114);
}

.color-row{
  color: rgb(9, 121, 9) !important;
  font-weight: bold;
}

.new-spec-title{
  display: flex;
  justify-content: center;
}

.new-spec-form{
  display: flex;
  justify-content: center;
}

.new-spec-button{
  display: flex;
  justify-content: flex-end;
}

.panel-description {
  margin-left: auto;
    margin-right: 20px;
    font-size: 15px;
    color: #391942;
}

.panel-title{
  font-size: 16px;
}

.panel-header{
  display: flex;
  justify-content: center;
}

.all-spec{
  padding: 50px;
}

.mat-expansion-panel-body{
  padding: 0 24px 16px;
    display: flex;
    justify-content: center;
}

.mat-table-app{
  padding: 0 24px 16px;
    display: flex;
    justify-content: center;
}

.app-change{
  margin:auto;
  width: 700px;
}

.spec-app-details{
  display: flex;
  flex-direction: column;
}

.selected-row {
  color: #8f809143;
  font-weight: bold;
}


.misc-tab-content {
  margin: auto 150px;
}

.misc-tab-heading {
  text-align: center;
  margin-bottom: 20px;
}

.misc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misc-form mat-form-field {
  margin-bottom: 10px;
}

.misc-button {
  width: 100%;
  max-width: 300px;
}

.appointmentSuccess {
  display: flex;
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 300px;
  color: white;
  background-color: rgb(163 209 154);
}
.appointmentError {
  display: flex;
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 300px;
  color: white;
  background-color: rgb(233, 153, 165);
}

.message{
  display: flex;
  justify-content: center;
}
